<div nz-row>
  <div nz-col>
    <h1>签到</h1>
  </div>
</div>
<br>
<div nz-row>
  <div nz-col>
    <p>当前学期：{{nowSemester.nowSemester}}</p>
  </div>
</div>
<br><br><br>
<div nz-row>
  <div nz-col></div>
</div>
<div nz-row>
  <form [nzLayout]="'horizontal'" nz-form [formGroup]="validateForm" (ngSubmit)="'_submitForm()'" nz-col [nzOffset]="'5'" nzSpan="10">
    <div class="formItem" nz-form-item>
      <div nz-form-control>
        <label  nz-col nzSpan="16"></label>
        <div nz-col nzSpan="16">
          <nz-alert [nzType]="'warning'" nzShowIcon>
                          <span alert-body>
                            <pre style="font-size: 1.4em;color: red">请尽快完成签到.</pre>
                          </span>
          </nz-alert>
        </div>
      </div>
    </div>
    <div class="formItem" nz-form-item>
      <div nz-form-control [nzValidateStatus]="validateForm.controls.signClassId"  [nzValidateStatus]="getFormControl('signClassId')"  nzHasFeedback >
        <label for="signClassId" nz-col nzSpan="7">课程号：</label>
        <div nz-col nzSpan="15">
          <span>{{addStudentSignCourse.classId}}</span>
        </div>
      </div>
    </div>
    <div class="formItem" nz-form-item>
      <div nz-form-control [nzValidateStatus]="validateForm.controls.signClassName"  [nzValidateStatus]="getFormControl('signClassName')"  nzHasFeedback >
        <label for="signClassName" nz-col nzSpan="7">课程名称：</label>
        <div nz-col nzSpan="15">
          <span>{{addStudentSignCourse.className}}</span>
        </div>
    </div>
    </div>
    <div class="formItem" nz-form-item>
      <div nz-form-control [nzValidateStatus]="validateForm.controls.signComputerNo"  [nzValidateStatus]="getFormControl('signComputerNo')"  nzHasFeedback >
        <label for="signComputerNo" nz-col nzSpan="7">座位号：</label>
        <div nz-col nzSpan="15">
          <span>{{nowComputer.computerNum}}</span>
        </div>
    </div>
    </div>
    <div class="formItem" nz-form-item>
      <div nz-form-control [nzValidateStatus]="validateForm.controls.signLabName"  [nzValidateStatus]="getFormControl('signLabName')"  nzHasFeedback >
        <label for="signLabName" nz-col nzSpan="7">实验室：</label>
        <div nz-col nzSpan="15">
          <span>{{labName}}</span>
        </div>
      </div>
    </div>
    <div class="submitBtn" nz-form-item nz-col nzSpan="22">
      <div nz-form-control>
        <button nz-button [nzType]="'danger'" [nzSize]="'large'" type="reset" onclick="window.history.back()">
          <span>取消</span>
        </button>
        <nz-popconfirm [nzTitle]="'确认签到？'" (nzOnConfirm)="_submitForm()" (nzOnCancel)="null">
          <button nz-button nz-popconfirm [nzLoading]="loadStatus" [nzType]="'primary'" [nzSize]="'large'" >{{submitBtn}}</button>
        </nz-popconfirm>
      </div>
    </div>
  </form>
</div>
